h1{
  background-color: #008CBA;
  border-style: double;
  padding: 20px;
}
body{
  text-align: center;
}
h4{
  text-decoration: underline;
}
img{
  height: 125px;
  width: 125px;
}
#mirror {
  transform: scaleX(-1);
}
table{
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}
td{
  padding: 10px;
}
button{
  border-radius: 25px;
  padding: 10px;
  margin-left: 25px;
  background-color: white;
}
button:hover{
  background-color: #008CBA;
}
button.resetButton{
  background-color: white;
	border-radius: 100px; 
	padding: 10px 20px;
  position: absolute;
}
td.scoreBoard{
  border-left:1px solid #000;
  height:200px;
}